    .no-scrollbar::-webkit-scrollbar {
      display: none; 
    }
    .no-scrollbar {
      -ms-overflow-style: none; 
      scrollbar-width: none; 
    }

    .scroll-thin::-webkit-scrollbar {
      scrollbar-width: thin; 
    }